header{
    background-image:linear-gradient(to right, white, blue);
    height:100px;
  }
  
h1 {
    float:left;
    padding:34px 54px;
    font-size:40px;
    font-family:Trebuchet MS;
  }
  
h2 {
    margin-top: 10px;
    margin-left: 20px;
    font-family:Trebuchet MS;
  }
  
ul {
    text-align:center;
    margin-top:10px;
  }
  
li {
    padding:34px 20px;
    float:left;
  }
  
li a {
    font-family: Trebuchet MS;
    text-decoration:none;
    color:aliceblue;
  }
  
  /*Text links in navbar turn black when hovering.*/
li a:hover {
    color:black;
  }
  
nav {
    float:right;
  }
  
main {
    margin-top:50px;
  }
  
/*Previous Work Images*/
.topimage {
    display: inline-block;
    width:45%;
    margin-left:100px;
    border:10px solid blue;
    border-radius: 2%;
    opacity:50%;
  }
  
.bottomimage {
    display:inline-block;
    width:25%;
    margin-left:100px;
    border:10px solid blue;
    border-radius: 2%;
    opacity:50%;
  }

/*Make images appear with full opacity when hovered.*/
img:hover {
    opacity: 100%;
  }

p {
    padding-left:6px;
    margin-left:100px;
    margin-top:5px;
    font-family:Trebuchet MS;
  }

.textbox{
    position:relative;
      width:15%;
      height:50%;
      bottom:30px;
      left:110px;
      background-color: black;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
      font-size:1.0vw;
      opacity:70%;
    }

/*Bio Image*/
.bio {
    width:20%;
    display:inline-block;
    margin-left:100px;
  }
    
  